*
!build-site.el
!build.sh
!.gitignore
!.dir-locals.el

!.github/
!.github/**

!themes/
!themes/**

!content-org/
!content-org/**
content-org/**/*.~undo-tree~

!layouts/
!layouts/**
layouts/**/*.~undo-tree~


!config.toml
!Makefile
*.~undo-tree~
